extends layout


block content

  .container
      .jumbotron
        center
          h3 Welcome Fellows Competitors
            #wrapper
              #logo
                center
                 img(src='/images/TDT-logo.png')

              center
                div#chooser
                  h3 Click the button below
                div#chooser2
                  button#click Select
                div#list
                  p Names and Picks will be listed here

  container

    //#display
    //  +panel("Panel Heading", "success") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
    //  +button("default","#","small") Click Me
    //  #logo
    //    form(method = 'post')
    //      Enter your name if your want to post an article
    //    div
    //        input(type='text', name='username')
    //        input(type='submit',value='Log In')

    //#footer
    //  div Copyright MEAN Stack #{+new Date().getFullYear()}
    //  a(href='page?name=about') About
    //  | |
    //  a(href='/page?name=contact') Contact Us